<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /mini-games
  RewriteRule ^mini-games/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /mini-games/index.html [L]
  </IfModule>